/* ORDERING PAGE */
@keyframes errorSpanAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes boxShadowAnimation_green{
    0%{
        box-shadow: 0px 0px 0px green;
    }
    50%{
        box-shadow: 0px 0px 10px green;
    }
    100%{
        box-shadow: 0px 0px 0px green;
    }
}
@keyframes boxShadowAnimation_red{
    0%{
        box-shadow: 0px 0px 0px red;
    }
    100%{
        box-shadow: 0px 0px 10px red;
    }
}

@media screen and (min-width: 768px){
    // page_title
    /* вторая секция */
    .order-content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4.5625rem;
        column-gap: 19.5625rem;
    }
    
    /* форма */
    .order-content__form form{
        display: flex;
        flex-direction: column;
        row-gap: 2.1875rem;
    }
    .order-content__form input{
        width: 21.875rem;
        padding-bottom: 0.9375rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .order-content__form textarea{
        max-width: 21.875rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .order-content__form input::placeholder {
        transform: translateY(1px);
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .order-content__form input:focus::placeholder {
        opacity: 0;
    }
    .order-content__form textarea::placeholder {
        transition: 0.5s ease;
    }
    .order-content__form textarea:focus::placeholder {
        opacity: 0;
    }
    .order-content__form {
        display: flex;
        flex-direction: column;
        row-gap: 3.875rem;
    }
    .order-content__form h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    /* боковой итог */
    .order-content_information {
        display: flex;
        flex-direction: column;
        row-gap: 9.9375rem;
    }
    .order_information__your-order h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 2.9375rem;
    }
    .item-inf-ordering {
        flex-basis: 17.75rem;
        display: flex;
        column-gap: 4.5625rem;
    }
    .item-inf-ordering h4 {
        font-family: var(--text-font);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .item-inf-ordering span {
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .item-ordering, .sum {
        display: flex;
        flex-direction: column;
        row-gap: 1.875rem;
    }
    .item-ordering h4:last-child {
        position: relative;
    }
    .item-ordering h4:last-child::before {
        content: "";
        position: absolute;
        left: -1.125rem;
        top: -0.9375rem;
        display: block;
        width: 17.75rem;
        height: 3.5625rem;
        z-index: -1;
        background-color: #F1EADC;
    }
    /* pay */
    .payment, .payment form {
        display: flex;
        flex-direction: column;
        row-gap: 2.9375rem;
    }
    .payment h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .payment button {
        height: 4.25rem;
        width: 15.375rem;
        background-color: #6E9C9F;
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        
    }
    .payment button:hover {
        background-color: #509498;
    }
    
    .payment input[type="checkbox"] {
        position: relative;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
        appearance: none;
    }
    .payment input[type="checkbox"] + span {
        width: 1em;
        height: 1em;
        display: inline-block;
        background-color: white;
        border: 1px solid black;
        position: relative;
        font-size: 2rem;
        line-height: .7em;
        color: white;
    }
    .payment input[type="checkbox"]:checked + span {
        color: black;
    }
    .payment input[type="checkbox"]:hover + span {
        border: 2px solid black;
    }
    .payment input[type="checkbox"]:focus + span {
        box-shadow: 0 0 1px 1px black;
    }
    .payment input[type="checkbox"]:checked + span {
        border: 2px solid black;
    }
    .payment input[type="checkbox"]:disabled + span {
        border: 2px solid grey;
    }
    .payment input[type="checkbox"]:disabled:checked + span {
        border: 2px solid grey;
        color: grey;
    }
    .payment label {
        text-align: center;
        display: flex;
        margin-left: -0.4rem;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: start;
        font-family: var(--text-font);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        
    }
    
    /* comment */
    .payment .comment {
        border: 1px solid black;
        max-width: 15.375rem;
        padding: 0.625rem;
        height: fit-content;
        background-color: #F1EADC;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .payment .comment a{
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 900;
        line-height: 1.3125rem;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        transition: 0.5s ease;
    }
    .payment .comment a:hover {
        color: #6E9C9F;
    }
}

@media screen and (max-width: 768px) {
    // page_title
    /* вторая секция */
    .order-content {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 4.5625rem;
        margin-top: 8rem;
    }
    @media screen and (max-height: 480px) {
        .order-content {
            flex-direction: row;
            align-items: start;
            justify-content: center;
            column-gap: 10rem;
            row-gap: 4.5625rem;
            margin-top: 8rem;
            flex-wrap: wrap;
        }
    }
    /* форма */
    .order-content__form form{
        display: flex;
        flex-direction: column;
        row-gap: 2.1875rem;
    }
    .order-content__form input{
        width: 21.875rem;
        padding-bottom: 0.9375rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .order-content__form textarea{
        max-width: 21.875rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .order-content__form input::placeholder {
        transform: translateY(1px);
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .order-content__form input:focus::placeholder {
        opacity: 0;
    }
    .order-content__form textarea::placeholder {
        transition: 0.5s ease;
    }
    .order-content__form textarea:focus::placeholder {
        opacity: 0;
    }
    .order-content__form {
        display: flex;
        flex-direction: column;
        row-gap: 3.875rem;
    }
    .order-content__form h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: center;
    }
    /* боковой итог */
    .order-content_information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5rem;
    }
    .order_information__your-order h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 2.9375rem;
    }
    .item-inf-ordering {
        flex-basis: 17.75rem;
        display: flex;
        column-gap: 4.5625rem;
    }
    .item-inf-ordering h4 {
        font-family: var(--text-font);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .item-inf-ordering span {
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .item-ordering, .sum {
        display: flex;
        flex-direction: column;
        row-gap: 1.875rem;
    }
    .item-ordering h4:last-child {
        position: relative;
    }
    .item-ordering h4:last-child::before {
        content: "";
        position: absolute;
        left: -1.125rem;
        top: -0.9375rem;
        display: block;
        width: 17.75rem;
        height: 3.5625rem;
        z-index: -1;
        background-color: #F1EADC;
    }
    /* pay */
    .payment, .payment form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2.9375rem;
    }
    .payment h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .payment button {
        height: 4.25rem;
        width: 15.375rem;
        background-color: #6E9C9F;
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        
    }
    .payment button:hover {
        background-color: #509498;
    }

    .payment input[type="checkbox"] {
        position: relative;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
        appearance: none;
    }
    .payment input[type="checkbox"] + span {
        width: 1em;
        height: 1em;
        display: inline-block;
        background-color: white;
        border: 1px solid black;
        position: relative;
        font-size: 2rem;
        line-height: .7em;
        color: white;
    }
    .payment input[type="checkbox"]:checked + span {
        color: black;
    }
    .payment input[type="checkbox"]:hover + span {
        border: 2px solid black;
    }
    .payment input[type="checkbox"]:focus + span {
        box-shadow: 0 0 1px 1px black;
    }
    .payment input[type="checkbox"]:checked + span {
        border: 2px solid black;
    }
    .payment input[type="checkbox"]:disabled + span {
        border: 2px solid grey;
    }
    .payment input[type="checkbox"]:disabled:checked + span {
        border: 2px solid grey;
        color: grey;
    }
    .payment label {
        text-align: center;
        display: flex;
        margin-left: -0.4rem;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: start;
        font-family: var(--text-font);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
    }
    /* comment */
    .payment .comment {
        border: 1px solid black;
        max-width: 15.375rem;
        padding: 0.625rem;
        height: fit-content;
        background-color: #F1EADC;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .payment .comment a{
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 900;
        line-height: 1.3125rem;
        letter-spacing: 0.02em;
        text-align: left;
        color: black;
        transition: 0.5s ease;
    }
    .payment .comment a:hover {
        color: #6E9C9F;
    }
}

.errorSpan {
    color: red;
    max-width: 22rem;
    margin-top: -2rem;
    margin-bottom: -1rem;

    animation-name: errorSpanAnimation;
    animation-duration: .5s;
    animation-timing-function: linear;
}
.pushInfSuccess {
    display: none;
    background-color: #F1EADC;
    height: 2rem;
    margin-top: -2rem;
    width: 15.375rem;
    font-family: var(--text-font);
    font-size: 1.06rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: center;
    box-shadow: 0px 0px 10px green;
}
.pushInfError {
    display: none;
    background-color: #F1EADC;
    height: 2rem;
    margin-top: -2rem;
    width: 15.375rem;
    font-family: var(--text-font);
    font-size: 1.06rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-align: center;
    box-shadow: 0px 0px 10px red;
}
.pushInfSuccess.active {
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: boxShadowAnimation_green;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.pushInfError.active {
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: boxShadowAnimation_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

html.dark{
    .item-ordering h4:last-child::before {
        background-color: grey;
    }
    input[type="checkbox"]{
        color: black;
        
    }
    .comment{
        background-color: grey;
        .border_link {
            color: rgb(201, 201, 201);
        }
        .border_link:hover{
            color: white;
        }
    }
    .pushInfError, .pushInfSuccess{
        background-color: rgb(74, 74, 74);
    }
}