/* CONTACTS */
@media screen and (min-width: 768px){
    // page_title
    /* вторая секция */
    .contact-content {
        display: flex;
        flex-direction: column;
        row-gap: 8.125rem;
        justify-content: center;
    }
    .contact-content__map-wrapper iframe {
        width: 100%;
        height: 29.75rem;
        /* width="100%" height="476" */
    }
    .contact-content__contacts {
        display: flex;
        align-items: center;
        column-gap: 6.25rem;
        flex-wrap: wrap;
        row-gap: 3.125rem;
    }
    .contacts > div {
        display: flex;
        flex-direction: column;
        row-gap: 1.1875rem;
    }
    .contacts > div > span {
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contacts > div > h4 {
        font-family: var(--text-font);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-align: left;
    } 
    .contacts > div > h4 > a {
        color: black;
        transition: 0.5s ease;
    }
    /* форма */
    .contact-content__form form{
        display: flex;
        flex-direction: column;
        row-gap: 2.1875rem;
    }
    .contact-content__form input{
        max-width: 21.875rem;
        padding-bottom: 0.9375rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .contact-content__form textarea{
        max-width: 27.6875rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form input::placeholder {
        transform: translateY(1px);
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form input:last-child::placeholder {
        transition: 0.5s ease;
    }
    .contact-content__form input:focus::placeholder {
        opacity: 0;
    }
    .contact-content__form textarea::placeholder {
        transition: 0.5s ease;
    }
    .contact-content__form textarea:focus::placeholder {
        opacity: 0;
    }
    .contact-content__form {
        display: flex;
        flex-direction: column;
        row-gap: 3.875rem;
    }
    .contact-content__form h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form button {
        height: 4.25rem;
        width: 11.8125rem;
        background-color: #6E9C9F;
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        
    }
    .contact-content__form button:hover {
        background-color: #509498;
    }
    .contact-content__form{
        .pushInfSuccess, .pushInfError {
            display: none;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 5.25rem;
            font-family: var(--text-font);
            font-size: 1.06rem;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: 0.02em;
            text-align: left;
            background-color: #F1EADC;
        }
        .pushInfSuccess.active{
            display: flex;
        
            animation-name: boxShadowAnimation_green;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
        .pushInfError.active{
            display: flex;
        
            animation-name: boxShadowAnimation_red;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        
    }
    .contact-content__form button:active .message-submit-success{
        background-color: #6E9C9F;
    } 
}

@media screen and (max-width: 768px) {
    // page_title
    /* вторая секция */
    .contact-content {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        justify-content: center;
    }
    .contact-content__map-wrapper iframe {
        width: 100%;
        height: 29.75rem;
    }
    .contact-content__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3.125rem;
    }
    @media screen and (max-height: 480px) {
        .contact-content__contacts {
            flex-direction: row;
            column-gap: 1.875rem;
            flex-wrap: wrap;
        }
    }
    .contacts > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.1875rem;
        min-width: 22rem;
    }
    .contacts > div:last-child{
        order: -1;
    } 
    .contacts > div > span {
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .contacts > div > h4 {
        font-family: var(--text-font);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0.02em;
        text-align: center;
    } 
    .contacts > div > h4 > a {
        color: black;
        transition: 0.5s ease;
    }
    /* форма */
    .contact-content__form{
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2.1875rem;
            max-width: 80%;
            margin: auto;
            .errorSpan{
                align-self: flex-start;
            }
        }
        h3{
            align-self: center;
        }
    }
    .contact-content__form input{
        min-width: 22rem;
        padding-bottom: 0.9375rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .contact-content__form textarea{
        min-width: 22rem;
        border-bottom: 1px solid black;
        background-color: rgb(248, 248, 248);
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form input::placeholder {
        transform: translateY(1px);
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form input:last-child::placeholder {
        transition: 0.5s ease;
    }
    .contact-content__form input:focus::placeholder {
        opacity: 0;
    }
    .contact-content__form textarea::placeholder {
        transition: 0.5s ease;
    }
    .contact-content__form textarea:focus::placeholder {
        opacity: 0;
    }
    .contact-content__form {
        display: flex;
        flex-direction: column;
        row-gap: 3.875rem;
    }
    .contact-content__form h3 {
        font-family: var(--text-font);
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 2.1875rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .contact-content__form button {
        height: 4.25rem;
        width: 22rem;
        background-color: #6E9C9F;
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: center;
        color: white;
        
    }
    .contact-content__form button:hover {
        background-color: #509498;
    }
    .contact-content__form{
        .pushInfSuccess, .pushInfError {
            display: none;
            justify-content: center;
            align-items: center;
            width: 22rem;
            align-self: center;
            height: 5.25rem;
            font-family: var(--text-font);
            font-size: 1.06rem;
            font-weight: 500;
            line-height: 1.5rem;
            letter-spacing: 0.02em;
            text-align: left;
            background-color: #F1EADC;
        }
        .pushInfSuccess.active{
            display: flex;
        
            animation-name: boxShadowAnimation_green;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
        .pushInfError.active{
            display: flex;
        
            animation-name: boxShadowAnimation_red;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        
    }
    .contact-content__form button:active .message-submit-success{
        background-color: #6E9C9F;
    } 
}

html.dark {
    iframe{
        filter: grayscale(20%) brightness(80%);
    }
    form{
        input{
            background-color: rgb(66, 66, 66);
            border-bottom: 1px solid white;
            color: white;
        }
        textarea{
            background-color: rgb(66, 66, 66);
            border-bottom: 1px solid white;
            color: white;
        }
        button{
            background-color: grey;
            &:hover{
                background-color: rgb(15, 15, 14);
            }
        }
    }
    .message-submit-success{
        background-color: grey;
    }
}