/* политика конфиденциальности */
.policy_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: -7rem;
    p, h2, li{
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02em;
        text-align: left;
    }
    h2{
        font-size: 1.2rem;
        font-weight: bold;
    }
    li{
        font-style: italic;
        margin-left: 1rem;
    }
    a{
        transition: 0.5s ease;
        font-family: var(--text-font);
        font-size: 1.06rem;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 0.02em;
        text-align: left;
        color: black; 
    }
    ul{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .policy_wrapper{
        margin-top: 0rem;
        padding: 0 4rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p, h2, li{
            text-align: center;
        }
        a{
            text-align: center;
        }
    }
    @media screen and (max-width: 590px) {
        h1{
            font-size: 2.5rem !important;
            line-height: 2.5rem !important;
        }
    }
}